<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-11-11T03:11:21Z</date>
	<key>WorkspacePath</key>
	<string>/Users/obayashitakumi/Desktop/private/swift/Sample_UserDefault_CustomCell/Sample_UserDefault_CustomCell.xcodeproj</string>
</dict>
</plist>
